<!-- <h1>HI I'm the form page for cat#new</h1>

<form action="<%= cats_url %>" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">

  <br>

  <label for="birth_date">Birthday</label>
  <input id=birth_date type="date" name="cat[birth_date]">

  <br>

  <label for="color">Color</label>
  <select name="cat[color]" id="color">
    <option disabled selected>--Select Color--</option>
    <% Cat::COLORS.each do |color| %>
      <option><%= color %></option>
    <% end %>
  </select>

  <br>

  <label for="genderchoice1">Male</label>
  <input id="sex" type="radio" name=cat[sex]>
  <label for="genderchoice2">Female</label>
  <input id="sex" type="radio" name=cat[sex]>

  <br>

  <label for="description">Description</label>
  <textarea name="cat[description]" id="description"></textarea>

  <input type="submit" value="Submit Cat">

</form> -->
